# Ignore artifacts:
build
coverage
dist
storybook-static
.storybook/cache

# Ignore dependencies
node_modules

# Ignore minified files
*.min.*

# Ignore TypeScript declaration files
**/*.d.ts

# Ignore config files (optional)
vitest.config.ts
vite.config.ts