{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "ignore",
  "tailwindStylesheet": "./src/style.css",
  "vueIndentScriptAndStyle": true,
  "importOrder": [
    "^vue$",
    "^@?\\w",
    "^(@|src)(/.*|$)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}